<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="w-5/6 md:w-2/3 mx-auto">
    <header>
      <nav class="py-4 md:py-8">
        <a href="/" class="font-semibold text-3xl md:text-4xl tracking-wider uppercase">Israel Bustillos</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
